name: integration tests
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [main] }

jobs:
  tests:
    if: ${{ github.event_name == 'push' || (github.event.pull_request.base.repo.id == github.event.pull_request.head.repo.id && !github.event.pull_request.draft) }}
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
    runs-on: ubuntu-latest
    container: swift:6.2-noble
    timeout-minutes: 30
    steps:
      - name: Check out package
        uses: actions/checkout@v6

      - name: Install curl for codecov, zstd for the cache action
        run: |
          apt-get update
          apt-get install -y curl zstd

      - name: Restore .build
        if: ${{ runner.debug != '1' }}
        id: "restore-cache"
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: "${{ github.event.repository.name }}-integration-tests-${{ matrix.config.mode }}-build-${{ matrix.swift-image.name }}-${{ runner.os }}-${{ hashFiles('./Package.resolved') }}"
          restore-keys: "${{ github.event.repository.name }}-integration-tests-${{ matrix.config.mode }}-build-${{ matrix.swift-image.name }}-${{ runner.os }}-"

      - name: Build ${{ github.event.repository.name }}
        run: |
          swift build \
            --build-tests \
            --enable-code-coverage \
            --disable-experimental-prebuilts \
            --explicit-target-dependency-import-check error \
            -c ${{ matrix.config.mode }}

      - name: Cache .build
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: .build
          key: "${{ github.event.repository.name }}-integration-tests-${{ matrix.config.mode }}-build-${{ matrix.swift-image.name }}-${{ runner.os }}-${{ hashFiles('./Package.resolved') }}"

      - name: Run tests
        run: |
          swift test \
            --skip-build \
            --filter IntegrationTests \
            --sanitize=thread \
            --enable-code-coverage \
            --disable-experimental-prebuilts

      - name: Upload code coverage
        uses: vapor/swift-codecov-action@v0.3
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: "SWIFT_VERSION,SWIFT_PLATFORM,RUNNER_OS,RUNNER_ARCH"
