name: tests
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [main] }

jobs:
  main-tests:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
    with:
      with_linting: true
      with_coverage: true
      with_tsan: true
      with_api_check: true
      test_filter: "^DiscordBMTests"
      extra_flags: "--explicit-target-dependency-import-check error --force-resolved-versions -Xswiftc -require-explicit-sendable --disable-experimental-prebuilts"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  main-tests-w-traits-enabled:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
    with:
      with_coverage: true
      with_tsan: true
      with_api_check: false
      test_filter: "^DiscordBMTests"
      extra_flags: "--traits ExperimentalNon64BitSystemsCompatibility --explicit-target-dependency-import-check error --force-resolved-versions -Xswiftc -require-explicit-sendable --disable-experimental-prebuilts"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  macro-tests:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
    with:
      with_coverage: true
      with_tsan: true
      with_api_check: false
      test_filter: "^MacroTests"
      extra_flags: "--explicit-target-dependency-import-check error --force-resolved-versions -Xswiftc -require-explicit-sendable --disable-experimental-prebuilts"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  macro-tests-w-traits-enabled:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
    with:
      with_coverage: true
      with_tsan: true
      with_api_check: false
      test_filter: "^MacroTests"
      extra_flags: "--traits ExperimentalNon64BitSystemsCompatibility --explicit-target-dependency-import-check error --force-resolved-versions -Xswiftc -require-explicit-sendable --disable-experimental-prebuilts"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
